version: "3.9"
services:

  almacenes-container:
    image: spring-api-image
    container_name: almacenes-container
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8081:8081"
    environment:
      - SPRING_PROFILES_ACTIVE=production
    #    environment:
    #      - SPRING_DATASOURCE_URL=
    #      - SPRING_DATASOURCE_USERNAME=
    #      - SPRING_DATASOURCE_PASSWORD=
    networks:
      - spring-network

networks:
  spring-network: